# Arduino
*.hex
*.elf
build/
.DS_Store
sync_arduino.py

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.python-version
.venv/
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller & Local Build 
build/
dist/
dist_old/

release/
EyeTracker-macOS.zip

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local config
config.local.py
*.log

# Profiled Logs
*eye_tracker_profile.prof

# Mac Camera Permissions Enquiry
# *Info.plist